<h1 style="color:blue;">Ingrese producto</h1>
<br>

<script src="/js/productos.js"></script>
{{> formularioProducto }}

<div id="productos"></div>

<a href='/productos' class="btn btn-success mt-3 mb-5"> Ver listado</a>